html, body {
  width: 100%;
  overflow-x: hidden;
  position: relative;
  -webkit-text-size-adjust: 100%;
  word-break: keep-all;
  background-color: #fff;
  font-family: 'Inter', 'Noto Sans KR', sans-serif !important;
  height: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a:hover {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: 0;
}

button:focus, button:active {
  outline: none;
}

#wrap {
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#container {
  -webkit-box-flex: 1;
      -ms-flex: auto 1;
          flex: auto 1;
}

* {
  margin: 0;
  padding: 0;
}

.theme-header {
  width: 100vw;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50vw);
          transform: translateX(-50vw);
  background-color: #484848;
  position: fixed;
  top: 0;
  height: 55px;
  z-index: 10;
}

.theme-header .pc-mode {
  display: none;
}

.theme-header .mobile-side-menu-wrap {
  display: block;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.theme-header .head-logo-box {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.theme-header .inner-header {
  width: 100%;
  max-width: 1170px;
  padding: 14px;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.theme-header .menu-btn .menu-text {
  color: #fff;
  font-weight: 300;
  font-size: 17px;
}

.theme-header .menu-btn i {
  font-size: 17px;
  color: #fff;
}

.mobile-side-menu.open .mobile-mode {
  left: 0;
}

.mobile-side-menu.open .mobile-side-dimmed {
  opacity: 1;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  visibility: visible;
}

.mobile-side-menu .mobile-mode .menu-list {
  margin: 0;
}

.mobile-side-menu .mobile-mode .menu-list .menu-list-link {
  color: #141414;
  font-size: 17px;
  font-weight: 500;
  border-bottom: 1px solid #141414;
}

.mobile-side-menu .mobile-mode .menu-list .menu-list-link::before {
  display: none !important;
}

.mobile-mode {
  left: -100%;
  width: 100%;
  max-width: 320px;
  background-color: #fff;
  z-index: 35;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  position: fixed;
  top: 0;
  bottom: 0;
}

.mobile-mode .menu-list {
  display: block;
}

.mobile-mode .menu-list .menu-list-item {
  padding: 0;
}

.mobile-side-dimmed {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 30;
  visibility: hidden;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -12px;
}

.menu-list .menu-list-item {
  padding: 0 5px;
}

.menu-list .menu-list-item .menu-list-link {
  display: block;
  font-size: 17px;
  font-weight: 400;
  color: #fff;
  padding: 20px 12px;
  position: relative;
}

.menu-list .menu-list-item .menu-list-link::before {
  content: '';
  display: block;
  width: 45px;
  height: 45px;
  background-color: #fed136;
  border-radius: 100px;
  position: absolute;
  left: 0px;
  top: 10px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  z-index: -1;
  opacity: 0.6;
}

.menu-list .menu-list-item .menu-list-link:hover::before {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  width: 100%;
  opacity: 0.85;
}

@media (min-width: 992px) {
  .theme-header {
    height: auto;
  }
  .theme-header .head-logo-box {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .theme-header .inner-header {
    padding: 0 15px;
  }
  .theme-header .pc-mode {
    display: block;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .theme-header .mobile-side-menu-wrap {
    display: none;
  }
}

.theme-main {
  padding-top: 55px;
  -webkit-box-flex: 1;
      -ms-flex: auto 1;
          flex: auto 1;
}

.theme-main .content-layout {
  position: relative;
  width: 100%;
}

.theme-main .content-layout .layout-bg {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.theme-main .content-layout .layout-bg.dimmed::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.theme-main .content-layout .layout-bg.layout-01 {
  background: url(../img/layout-01.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: table;
  background-size: cover;
  max-height: 600px;
}

.theme-main .content-layout .layout-bg.layout-02 {
  background-color: #fff;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: table;
  background-size: cover;
  padding: 50px 0;
}

.theme-main .content-layout .layout-bg.layout-03 {
  height: auto;
  padding: 50px 0;
  background: url(../img/layout-03.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.theme-main .content-layout .layout-bg.layout-04 {
  height: auto;
  padding: 50px 0;
  background: url(../img/layout-04.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.theme-main .content-layout .layout-content-text {
  width: 100%;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  position: relative;
  word-break: break-all;
  text-align: center;
}

.theme-main .layout-content-title {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 25px;
}

.theme-main .layout-content-title.intro {
  font-size: 60px;
  color: #fff;
  margin-bottom: 0;
}

.theme-main .tell-more-btn {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.6);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.6);
  padding: 9px 12px;
  color: #fff;
  background-color: #fed136;
  font-size: 25px;
  border-radius: 4px;
  margin-top: 20px;
  border-radius: 100px;
  position: relative;
  display: inline-block;
  width: 90px;
  height: 90px;
}

.theme-main .tell-more-btn:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: 50%;
  -webkit-animation: ripple 1.5s ease-out infinite;
          animation: ripple 1.5s ease-out infinite;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  left: 0;
  top: 0;
}

.theme-main .content-list-wrap {
  position: relative;
}

.theme-main .content-list-wrap .content-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px;
}

.theme-main .content-list-wrap .content-list .content-list-item {
  width: 50%;
  padding: 0 10px;
}

.theme-main .content-list-wrap .content-list .content-list-item .content-icon-box {
  width: 100%;
  max-width: 160px;
  margin: 0 auto 20px;
  height: 160px;
  border-radius: 100px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fed136;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
}

.theme-main .content-list-wrap .content-list .content-list-item .content-icon-box .content-icon {
  display: block;
  width: 80px;
  height: 80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.theme-main .content-list-wrap .content-list .content-list-item .content-icon-box .content-icon.responsive {
  background-image: url(../img/responsive.png);
}

.theme-main .content-list-wrap .content-list .content-list-item .content-icon-box .content-icon.git-skill {
  background-image: url(../img/git.svg);
}

.theme-main .content-list-wrap .content-list .content-list-item .content-icon-box .content-icon.Front-end {
  background-image: url(../img/front-end.png);
}

.theme-main .content-list-wrap .content-list .content-list-item .content-icon-box .content-icon.Library {
  background-image: url(../img/library.svg);
}

.theme-main .content-list-wrap .content-list .content-list-item .content-explan-title {
  font-size: 20px;
  font-weight: 600;
  color: #141414;
  margin-bottom: 5px;
  display: block;
}

.theme-main .content-list-wrap .content-list .content-list-item .content-explan-item {
  font-size: 15px;
  color: #767676;
}

.theme-main .portfolio-list-slide .swiper-wrapper {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.theme-main .portfolio-list-slide .swiper-wrapper .swiper-slide {
  height: auto;
}

.theme-main .portfolio-list-wrap {
  width: 100%;
}

.theme-main .portfolio-list-wrap .portfolio-list-item {
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 4px 15px 20px 0 rgba(31, 184, 184, 0.15);
          box-shadow: 4px 15px 20px 0 rgba(31, 184, 184, 0.15);
}

.theme-main .portfolio-list-wrap .portfolio-list-item .portfolio-list-link {
  display: block;
}

.theme-main .portfolio-list-wrap .portfolio-list-item .portfolio-item-img-box {
  width: 100%;
  overflow: hidden;
}

.theme-main .portfolio-list-wrap .portfolio-list-item .portfolio-item-img-box .item-img {
  width: 100%;
  padding-top: 100%;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background-color: #ececec;
}

.theme-main .portfolio-list-wrap .portfolio-list-item .portfolio-item-img-box .item-img:hover {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.theme-main .portfolio-list-wrap .portfolio-list-item .portfolio-item-subject {
  padding: 10px;
}

.theme-main .portfolio-list-wrap .portfolio-list-item .portfolio-item-subject .item-subject-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 4px;
  display: block;
  color: #141414;
}

.theme-main .portfolio-list-wrap .portfolio-list-item .portfolio-item-subject .subject-sub-title {
  font-size: 15px;
  font-weight: 400;
  color: #767676;
}

.theme-main .container-custom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  position: relative;
  top: -40px;
}

.theme-main .chevron {
  position: absolute;
  width: 2.1rem;
  height: 0.48rem;
  opacity: 0;
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
  -webkit-animation: move-chevron 3s ease-out infinite;
          animation: move-chevron 3s ease-out infinite;
}

.theme-main .chevron:first-child {
  -webkit-animation: move-chevron 3s ease-out 1s infinite;
          animation: move-chevron 3s ease-out 1s infinite;
}

.theme-main .chevron:nth-child(2) {
  -webkit-animation: move-chevron 3s ease-out 2s infinite;
          animation: move-chevron 3s ease-out 2s infinite;
}

.theme-main .chevron:before,
.theme-main .chevron:after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: #fff;
}

.theme-main .chevron:before {
  left: 0;
  -webkit-transform: skewY(30deg);
          transform: skewY(30deg);
}

.theme-main .chevron:after {
  right: 0;
  width: 50%;
  -webkit-transform: skewY(-30deg);
          transform: skewY(-30deg);
}

@-webkit-keyframes move-chevron {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    -webkit-transform: translateY(2.28rem);
            transform: translateY(2.28rem);
  }
  66.6% {
    opacity: 1;
    -webkit-transform: translateY(3.12rem);
            transform: translateY(3.12rem);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(4.8rem) scale(0.5);
            transform: translateY(4.8rem) scale(0.5);
  }
}

@keyframes move-chevron {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    -webkit-transform: translateY(2.28rem);
            transform: translateY(2.28rem);
  }
  66.6% {
    opacity: 1;
    -webkit-transform: translateY(3.12rem);
            transform: translateY(3.12rem);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(4.8rem) scale(0.5);
            transform: translateY(4.8rem) scale(0.5);
  }
}

@-webkit-keyframes ripple {
  from {
    opacity: 1;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
  }
}

@keyframes ripple {
  from {
    opacity: 1;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
  }
}

.theme-main .tiem-line-wrap {
  width: 100%;
  position: relative;
}

[data-anime] {
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

[data-anime].animate {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

[data-anime-left] {
  opacity: 0;
  -webkit-transform: translate3d(-40px, 0, 0);
          transform: translate3d(-40px, 0, 0);
  -webkit-transition: .3s;
  transition: .3s;
}

[data-anime-left].animate {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

[data-anime-right] {
  opacity: 0;
  -webkit-transform: translate3d(40px, 0, 0);
          transform: translate3d(40px, 0, 0);
  -webkit-transition: .3s;
  transition: .3s;
}

[data-anime-right].animate {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

#timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}

#timeline::before {
  /* this is the vertical line */
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #ddd;
}

.timeline-block {
  position: relative;
  margin: 2em 0;
}

.timeline-block:after {
  content: "";
  display: table;
  clear: both;
}

.timeline-block:first-child {
  margin-top: 0;
}

.timeline-block:last-child {
  margin-bottom: 0;
}

.timeline-block .timeline-year.right strong, .timeline-block .timeline-year.left strong {
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
  margin-top: -7px;
  color: #fff;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.timeline-block .timeline-year.timeline-year-long.left strong {
  white-space: pre;
  margin-left: -230px;
}

.timeline-block .timeline-year.right strong {
  margin-left: 50px;
}

.timeline-block .timeline-year.left strong {
  margin-left: -135px;
}

.timeline-year {
  background: #fecd2c;
  position: absolute;
  top: 22px;
  left: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.timeline-content {
  position: relative;
  margin-left: 60px;
  border-radius: 4px;
  /*  padding: 28px 20px; */
  font-size: 18px;
  font-weight: 500;
  color: #484848;
  display: inline-block;
}

.timeline-content.white {
  background-color: #fff;
}

.timeline-content:after {
  content: "";
  display: table;
  clear: both;
}

.timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 10px solid transparent;
  border-right: 10px solid #ebebeb;
}

.timeline-content .percent {
  font-size: 2.5rem;
  font-weight: 300;
}

.timeline-content h5 {
  font-size: 1rem;
}

/*  */
.timeline-title {
  font-size: 18px;
  color: #181818;
  margin-bottom: 10px;
  background: #ebebeb;
  padding: 20px;
  border-radius: 10px;
}

.timeline-item {
  padding: 10px;
  font-size: 15px;
  line-height: 18px;
  color: #141414;
}

.timeline-item .item-desc {
  padding-left: 12px;
  font-size: 14px;
  margin-top: 4px;
  color: #484848;
}

.timeline-item.timeline-item-table {
  padding: 10px 0;
}

.timeline-item.timeline-item-table .item-table {
  width: 100%;
}

.timeline-item.timeline-item-table .item-table table {
  width: 100% !important;
}

.timeline-box {
  margin: 8px 0;
  padding: 15px;
  font-size: 15px;
  line-height: 18px;
  border: 1px solid #b6b6b6;
}

.timeline-box .box-title {
  text-align: center;
}

.timeline-box .box-text {
  margin-top: 12px;
  text-align: left;
}

@media only screen and (max-width: 1169px) {
  .timeline-block .timeline-year {
    margin-left: 8px;
    top: 15px;
  }
  .timeline-block .timeline-year.timeline-year-long.left strong {
    margin-left: -5px;
  }
  .timeline-block .timeline-year.right strong {
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 0px;
  }
  .timeline-block .timeline-year.left strong {
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 0px;
    margin-left: -5px;
    margin-top: -40px;
  }
  .timeline-block .timeline-year.right strong {
    margin-top: -55px;
  }
  .timeline-content {
    font-size: 15px;
  }
  .timeline-title {
    font-size: 16px;
    padding: 15px;
  }
  .timeline-item {
    padding: 10px 0;
  }
  .timeline-item.timeline-item-table .item-table table th, .timeline-item.timeline-item-table .item-table table td {
    font-size: 12px;
    line-height: 16px;
    padding: 5px;
  }
}

@media only screen and (min-width: 1170px) {
  #timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

@media only screen and (min-width: 1170px) {
  .timeline-block {
    margin: 100px 0;
  }
  .timeline-block:first-child {
    margin-top: 0;
  }
  .timeline-block:last-child {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1170px) {
  .timeline-year {
    width: 24px;
    height: 24px;
    left: 50%;
    margin-left: -12px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
}

@media only screen and (min-width: 1170px) {
  .timeline-content {
    margin-left: 0;
    width: 45%;
  }
  .timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: #ebebeb;
  }
  .timeline-block:nth-child(even) .timeline-content {
    float: right;
  }
  .timeline-block:nth-child(even) .timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #ebebeb;
  }
}

@media (min-width: 992px) {
  .theme-main {
    padding-top: 65px;
  }
  .theme-main .content-layout .layout-bg.layout-01 {
    max-height: none;
  }
}

/*# sourceMappingURL=theme.css.map */
