.theme-main {
    padding-top: 55px;
    flex: auto 1;

    .content-layout {
        position: relative;
        width: 100%;

        

        .layout-bg {
            width: 100vw;
            height: 100vh;
            position: relative;

           

            &.layout-01 {
                background: url(../img/layout-01.jpg);
                background-repeat: no-repeat; 
                background-attachment: fixed;
                display: table;
                background-size: cover;
                max-height: 600px;

                &::before {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: rgba(0,0,0,0.4);
                    
                }
            }

            &.layout-02 {
                background-color: #fff;
                background-repeat: no-repeat; 
                background-attachment: fixed;
                display: table;
                background-size: cover;

                padding: 50px 0;
            }

            &.layout-03 {
                height: auto;
                padding: 50px 0;
                background: url(../img/layout-03.jpg);
                background-repeat: no-repeat; 
                background-attachment: fixed;
                // display: table;
                background-size: cover;


                &::before {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: rgba(0,0,0,0.3);
                    
                }
            }

            &.layout-03 {
                
            }
            
        }

        .layout-content-text {
            width: 100%;
            max-width: 1170px;
            padding: 0 15px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            
            position: relative;
            word-break: break-all;
            text-align: center;
        }
    }

    .layout-content-title { 
        font-size: 35px;
        font-weight: 600;
        margin-bottom: 25px;
        

        &.intro {
            font-size: 60px;
            color: #fff;
            margin-bottom: 0;
        }
    }

    .tell-more-btn {
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.6);
        padding: 9px 12px;
        color: #fff;
        background-color: #fed136;
        font-size: 25px;
        border-radius: 4px;
        margin-top: 20px;
        border-radius: 100px;
        position: relative;
        display: inline-block;
        width: 90px;
        height: 90px;

        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: inherit;
            border-radius: 50%;
            // z-index: -1;
            animation: ripple 1.5s ease-out infinite; 
            animation-delay: 0.2s;
            left: 0;
            top: 0;
        }
       

    }

    .content-list-wrap {
        position: relative;

        .content-list {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            margin: 0 -10px;


            .content-list-item {
                width: 50%;
                padding: 0 10px;
                

                .content-icon-box {
                    width: 100%;
                    max-width: 160px;
                    margin: 0 auto 20px;
                    height: 160px;
                    border-radius: 100px;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #fed136;
                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);


                    .content-icon {
                        display: block;
                        width: 80px;
                        height: 80px;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        

                        &.responsive {
                            background-image: url(../img/responsive.png);
                        }

                        &.git-skill {
                            background-image: url(../img/git.svg);
                        }

                        &.Front-end {
                            background-image: url(../img/front-end.png);
                        }

                        &.Library {
                            background-image: url(../img/library.svg);
                        }

                        
                    }


                }

                .content-explan-title {
                    font-size: 20px;
                    font-weight: 600;
                    color: #141414;
                    margin-bottom: 5px;
                    display: block;

                }

                .content-explan-item {
                    font-size: 15px;
                    color: #767676;

                }
            }
        }
    }

    .portfolio-list-slide {
        .swiper-wrapper {
            align-items: stretch;

            .swiper-slide {
                height: auto;
            }
        }
    }

    .portfolio-list-wrap {
        width: 100%;


        .portfolio-list-item {
            background-color: #fff;
            border-radius: 5px;
            overflow: hidden;
            box-shadow: 4px 15px 20px 0 rgba(31, 184, 184, 0.15);

            .portfolio-list-link {
                display: block;
            }

            .portfolio-item-img-box {
                width: 100%;
                // height: 100%;
                overflow: hidden;
                
                .item-img {
                    width: 100%;
                    padding-top: 100%;
                    transition: all .2s ease-in-out;
                    background-color: #ececec;
    
    
                    &:hover {
                        transition: all .2s ease-in-out;
                        transform: scale(1.05);
                    }
                }
        
                
            }

            .portfolio-item-subject {
                padding: 10px;
    
                .item-subject-title {
                    font-size: 18px;
                    font-weight: 600;
                    margin-bottom: 4px;
                    display: block;
                    color: #141414;
                }
    
                .subject-sub-title {
                    font-size: 15px;
                    font-weight: 400;
                    color: #767676;
                }
            }
        }


    } 


    $base: 0.6rem;

    .container-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;               
    position: relative;
    top: -40px;    
    }

    .chevron {
    position: absolute;
    width: $base * 3.5;
    height: $base * 0.8;
    opacity: 0;
    transform: scale(0.3);
    animation: move-chevron 3s ease-out infinite;
    }

    .chevron:first-child {
    animation: move-chevron 3s ease-out 1s infinite;
    }

    .chevron:nth-child(2) {
    animation: move-chevron 3s ease-out 2s infinite;
    }

    .chevron:before,
    .chevron:after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    background: #fff;
    }

    .chevron:before {
    left: 0;
    transform: skewY(30deg);
    }

    .chevron:after {
    right: 0;
    width: 50%;
    transform: skewY(-30deg);
    }

    @keyframes move-chevron {
    25% {
    opacity: 1;
        }
    33.3% {
    opacity: 1;
    transform: translateY($base * 3.8);
    }
    66.6% {
    opacity: 1;
    transform: translateY($base * 5.2);
    }
    100% {
    opacity: 0;
    transform: translateY($base * 8) scale(0.5);
    }
    }

    
    @keyframes ripple {
        from {
        opacity: 1;
        transform: scale(0);
        }
        to {
        opacity: 0;
        transform: scale(1.8);
        }
    }
 
  
}
   

@media (min-width:992px) {
    .theme-main {
        padding-top: 65px;

        .content-layout {
            .layout-bg {
                &.layout-01 {
                    max-height: none;
                }

            }
        }
    }
}

