.xf-structure-section {
    padding: 60px 0 80px;

    .bottom-line {
        position: relative;
        display: inline-block;

        &::before {
            position: absolute;
            width: 100%;
            height: 25px;
            right: 0;
            bottom: 6px;
            left: 0;
            background-color: #ffe900;
            display: block;
            content: '';
            z-index: -1;
            opacity: 0.6;
        }

    }

    .structure-content-wrap {
        // width: 100%;
        padding-top: 80px;

        .title-text {
            text-align: center;
            margin: 0;
            font-size: 24px;
            font-weight: 300;
            line-height: 1.6;
            letter-spacing: -0.96px;
            color: #141414;
            // max-width: 570px;
            margin: 0 auto;


            .title-bold-text  {
                font-weight: 600;
                position: relative;
            }
        }

        .middle-title-text {
            display: block;
            font-size: 15px;
            font-weight: 400;
            line-height: 1.6;
            letter-spacing: -0.9px; 
            color: #484848;
            text-align: center;
            margin-top: 20px;
            word-break: break-all;
            opacity: 0.8;
            
            .emphasis-box {
               color: #141414;
               font-weight: 500;
               
            }


        }

        .content-box {
            margin-top: 80px;
            

            &.bottom-line-box {
                padding-bottom: 60px;
                border-bottom: 1px solid #ececec;
            }

            &:first-child {
                margin-top: 0;
            }


            .list-box-content {

                margin-bottom: 30px;

                &:last-child {
                    margin-bottom: 0;
                }

                .detail-explan-content  {
                    margin-bottom: 30px;
                    padding-left: 10px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                

                .content-title {
                    font-size: 20px;
                    font-weight: 600;
                    line-height: normal;
                    letter-spacing: -0.8px;
                    color: #141414;
                }

                .middle-title-text {
                    text-align: left;
                }

                .list-detail-explan-title {
                    font-size: 18px;
                    font-weight: 600;
                    line-height: normal;
                    letter-spacing: -0.72px;
                    color: #141414;
                    display: inline-block;
                    margin-bottom: 20px;
                    margin-top: 15px;
                    padding-left: 10px;

                    &.marketing-text {
                        padding-left: 10px;
                        margin-top: 20px;
                    }
                }

                .marketing-surport-list-box {
                    padding: 0 10px;
                    .surport-list {
                        font-size: 14px;
                        font-weight: 600;
                        color: #666;
                    }
                }

                .explan-sub-title {
                    font-size: 15px;
                    font-weight: 600;
                    line-height: normal;
                    letter-spacing: -0.6px;
                    color: #141414;
                    
                    margin-bottom: 23px;

                    &::before {
                        height: 15px;
                        bottom: -1px;
                    }
                }

                .detail-icon-wrap {
                    width: 70px;
                    height: 70px;
                    margin: 0 auto;

                    .detail-icon {
                        width: 100%;
                        padding-top: 100%;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;


                        &.list-img1 {
                            background-image: url(../img/icon-list-1.svg);
                        }

                        &.list-img2 {
                            background-image: url(../img/icon-list-2.svg); 
                        }

                        &.list-img3 {
                            background-image: url(../img/icon-list-3.svg); 
                        }
                    }
                }

                .detail-list-box {
                    margin-top: 20px;

                    li {
                        position: relative;
                        padding-left: 9px;
                        color: #767676;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 2;
                        letter-spacing: -0.58px;

                        &::before {
                            content: '';
                            display: block;
                            width: 3px;
                            height: 3px;
                            background-color: #767676;
                            position: absolute;
                            left: 0;
                            top: 12px;
                            border-radius: 90%;
                        }
                    }
                }
            }

            .slide-img-wrap {
                position: relative;
                width: 100vw;
                left: 50%;
                transform: translateX(-50vw);

                .slide-img-container  {
                    width: 100%;
                    // max-width: 1170px;
                    //  padding: 0 15px;
                    margin: 0 auto;
                    height: 310px;

                    .slide-img-swiper {
                        height: 100%;
                    }

                    .main-banner-img {
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                }
            }
            
        }

        .tab-scroll-list {
            display: flex;
            flex-wrap: wrap;

            

            .list-item {
                width: 50%;
                cursor: pointer;
                // height: 60px;
                height: auto;

                .tab-link {
                    border: 1px solid #dcdede;
                    padding: 8px;
                    width: auto;
                    display: inline-block;
                    background-color: #fafafa;
                    // text-align: center;
                    color: #9c9c9c;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 1.6;
                    letter-spacing: -0.6px;
                    opacity: 0.8;
                    display: block;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;

                    br {
                        display: block;
                    }
                }

                &.active {
                    .tab-link {
                        border: 1px solid #f8df08;
                        background-color: #fefbe6;
                        color: #484848;
                        opacity: 1;
                    }
                }
            }
        }



    }

    .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
        
        
        opacity: 0.7;
    }
    
    .swiper-button-prev, .swiper-button-next {
        width: 56px !important;
        height: 56px !important;
        background-color: rgba(255, 255, 255,0.7) !important;
        border-radius: 100px;
        transition: all .2s ease-in-out ;
        opacity: 0.7;

        i {
            color: #000;
        }
        
    
       
    
        &:hover {
            transition: all .1s ease-in-out ;
            background-color: #f8df08 !important;
    
            i {
                color: #2f2725;
                opacity: 1;
            }
        }
    
    }
    
    .swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
        display: none;
    }
    
    .swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
        display: none;
    }
    
    .arrow-btn {
        font-size: 22px;
        opacity: 0.5;
    }
    
    .banner-typo--pc {
        
        padding: 0 15px;
        color: #fff;

        .banner-title {
            font-size: 24px;
            font-weight: 600;
            line-height: normal;
            letter-spacing: -0.96px;
            text-align: center;
            margin: 0 0 20px;
        }

        .typo-list {
            .typo-item {
                position: relative;
                padding-left: 9px;
                font-size: 14px;
                font-weight: 400;
                line-height: 2;
                letter-spacing: -0.58px;

                &::before {
                    content: '·';
                    display: block;
                    color: #fff;
                    position: absolute;
                    left: 0;
                    top: 0px;
                }
            }
        }
    }
    
    .swiper-button-next {
        right: 15px !important;
    }
    
    .swiper-button-prev {
        left: 15px !important;
    } 

    .swiper-navi-arrow {
        display:none;
    }

    br {
        display: none;
    }

    .title-text, .br-middle-text {
        br {
            display: block;
        }
    }
    
    .swiper-pagination {
        bottom: 20px;
        width: 100%;

        .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
            background-color: #9c9c9c;
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }

            &.swiper-pagination-bullet-active {
                background-color: #f8df08;
            }
        }
    }
}

@media screen and (min-width:768px) {
    .xf-structure-section {
        .structure-content-wrap {
         
        }
    }
}

@media screen and (min-width:992px) {
  
    .xf-structure-section {
        br {
            display: block;
        }

        padding: 100px 0;
        .structure-content-wrap {
            padding-top: 0;



            .title-text {
                font-size: 38px;

                &.title-text--service {
                    max-width: none;
                }
            }

            .middle-title-text {
                max-width: 490px;
                margin: 23px auto 0;
                font-size: 20px;

                &.list-middle-title {
                    max-width: none;
                }
            }

            .content-box {
                margin-top: 100px;

                &.bottom-line-box {
                    padding-bottom: 100px;
                }

                .list-box-content {
                    margin-bottom: 25px;

                    .content-title {
                        font-size: 32px;
                        line-height: normal;
                        letter-spacing: -1.28px;
                        margin-top: 25px;
                    }

                    .list-middle-title {
                        color: #767676;
                    }

                    .list-detail-explan-title {
                        padding-left: 40px;
                        margin-top: 40px;
                        font-size: 24px;

                        &.marketing-text {
                            padding-left: 40px;
                            margin-top: 34px;

                        }
                    }

                    .marketing-surport-list-box {
                        padding-left: 60px;

                        .surport-list {
                            font-size: 20px;
                            color: #141414;
                        }
                    }

                    .detail-explan-content {
                        padding-left: 40px;

                        .detail-content-right-box {
                            display: flex;
                            align-items: center;
                            padding-left: 20px;
                        }
                    }

                    .explan-sub-title {
                        font-size: 20px;
                    }   

                    .detail-icon-wrap {
                        margin: inherit;
                    }

                    .detail-list-box {
                        margin-top: 0;
                        padding-left: 40px; 

                        li {
                            font-size: 17px;
                            line-height: 1.76;
                            letter-spacing: -0.7px;
                        }
                    }
                }

                .slide-img-wrap {
                    .slide-img-container {
                        height: 530px;
                    }
                }
            }
         

            .tab-scroll-list {
                width: 100%;

                .list-item {
                    width: 25%;
                    align-items: stretch;
                    height: auto;

                    .tab-link {
                        padding: 11px 20px;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 20px;
                        font-weight: 500;

                        br {
                            display: none;
                        }
                    }
                }
            }

        }

        .swiper-navi-arrow {
            display:block;
            max-width: 1170px;
            position: relative;
            margin: 0 auto;
            // top: 0;
            width: 100%;
            bottom: 280px;
        }

        .banner-typo--pc {
            width: 100%;
            max-width: 920px;
            margin: 0 auto;
            
            .banner-title {
                text-align: left;
                font-size: 38px;
                margin-bottom: 25px;
            }

            .typo-list {
                .typo-item {
                    font-size: 17px;
                    line-height: 1.76;
                    letter-spacing: -0.7px;
                }
            }

        }

        .swiper-pagination {
            bottom: 40px;

            .swiper-pagination-bullet  {
                width: 14px;
                height: 14px;
            }
        }
       
    }
}

  