@charset "UTF-8"; 

@import 'header'; //헤더  
@import 'main'; //메인
@import 'sidebar'; // 사이드바
@import 'xe.ui'; // ui
@import 'icon'; // icon
@import 'pagination'; // 페이지네이션


main {display: block;}

body {
    margin: 0;
}

html, body {
    position: relative;
    height: 100%;
    -webkit-text-size-adjust: 100%;
    width: 100%;
    font-family: 'Noto sans KR';
    
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    background-color: transparent;
    box-sizing: border-box;

    &:hover {
        text-decoration: none;
    }
}

input[type="text"] {
    appearance: none;
    // border: 1px solid #ececec;
    background-color: #fff;
    border-color: #ececec;

    &:focus {
        
        outline: 0;
    }
}

textarea {
    &:focus {
        outline: 0;
    }
}

input::placeholder,
textarea::placeholder {color: #BDBDBD;}

label {
    cursor: pointer;
}

figure {
    margin: 0;
}

button {
    border: 0;
    padding: 0;
    background-color: transparent;
}

label {
    margin: 0;
}

.content {
    height: 100%;
    position: relative;
    background-color: #767667;
    overflow: hidden;
    overflow-y: auto;

    &::after {
        content: '';
        display: block;
        clear: both;
    }
}

select {
    background-image: none;
    appearance: none;
    border: 1px solid #d7d7d7;
    border-radius: 6px;
    background-color: #fff;
    display: inline-block;
    width: 100%;
    height: 46px;
    padding: 0 15px;
    cursor: pointer;
    position: relative;
    background: url(../img/icon-select-down.svg) no-repeat right 17px center;
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }

    &:disabled {
        background: url(../img/icon-select-down-disabled.svg) no-repeat right 17px center;
    }

    &:focus, &:active {
        outline: 0;
    }
}

.container {
    // width: 1140px;
    max-width: none !important;
}

.xu-label-checkradio input[type="checkbox"], .xu-label-checkradio input[type="radio"] {
    overflow: hidden;
    position: absolute;
    width: 0;
    border: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    left: -9999px;
}

.xu-label-checkradio{
    position: relative;
    display: inline-block;
    text-align: left;
    
    cursor: pointer;
    margin-bottom: 0;

 


    .input-desc{
        color: #767667;
        font-size: 14px;
    }

    input[type="checkbox"]{
        &:checked{
            & + .xu-label-checkradio__helper{
                background-color: #f5332b;
                border-color: #f5332b;
                &:after {
                    height: 10px;
                    border-right: 1.5px solid #fff;
                    border-bottom: 1.5px solid #fff;
                }
            }

            &:focus{
                & + .xu-label-checkradio__helper{
                    background-color: #f5332b;
                    border-color: #f5332b;
    
                }
            }
        } 
        & + .xu-label-checkradio__helper{
            width: 24px;
            height: 24px;
            border: 1px solid #d4d5dc;
            border-radius: 3px;
            background-color: #fff;


        }
        &:focus{
            & + .xu-label-checkradio__helper{
                border: 1px solid #e0e0e0;
                background-color: #fff;

            }
        }
    }

    input[type="radio"]{
        & + .xu-label-checkradio__helper{
            width: 24px;
            height: 24px;
            border: 1px solid #d4d5dc;
            border-radius: 50%;
            background-color: #fff;

        }

        &:focus{
            & + .xu-label-checkradio__helper{
                border-color: #f5332b;
                background-color: #fff;

            }
        }

        &:checked{
            & + .xu-label-checkradio__helper {
                border-color: #f5332b;
                background-color: #f5332b;

                &:after {
                    content: '';
                    background-color: #fff;
                }
            }

            &:focus{
                & + .xu-label-checkradio__helper {
                    border-color: #f5332b;
                    background-color: #f5332b;
    
                    &:after {
                        content: '';
                        background-color: #fff;
                    }
                }
            }
        } 
    }

    &.xu-label-checkradio-small {

    }

    

    // 체크박스/라디오 호버
    &:hover{
        input[type="checkbox"]{
            & + .xu-label-checkradio__helper{
                border-color: #ff635d;
            }
            &:checked{
                & + .xu-label-checkradio__helper{
                    border-color: #ff635d;
                    background-color: #f5332b;
                }
            } 
            
        }

        input[type="radio"]{
            & + .xu-label-checkradio__helper{
                border-color: #f5332b;
            }
            &:checked{
                & + .xu-label-checkradio__helper {
                    border-color: #f5332b;
                    background-color: #f5332b;
    
                    &:after {
                        content: '';
                        background-color: #fff;
                    }
                }
            } 
        }
    }
    &.xu-label-checkradio--hover{
        input[type="checkbox"]{
            & + .xu-label-checkradio__helper {
                border-color: #ff635d;
            } 
            &:checked{
                & + .xu-label-checkradio__helper{
                    border-color: #ff635d;
                    background-color: #f5332b;
                }
            } 
        }
        input[type="radio"]{
            & + .xu-label-checkradio__helper{
                border-color: #f5332b;
                background-color: #fff;
            }
            &:checked{
                & + .xu-label-checkradio__helper{
                    border-color: #f5332b;
                    background-color: #fff;
                    &:after {
                        background-color: #f5332b;
                    }     
                }
            } 
        }
    } 

    // 체크박스/라디오 포커스
    &:focus{
        input[type="checkbox"]{
            & + .xu-label-checkradio__helper{
                border-color: #ff635d;
            }

            &:checked{
                & + .xu-label-checkradio__helper{
                    border-color: #ff635d;
                    background-color: #f5332b;
                }
            } 
        }

        input[type="radio"]{
            & + .xu-label-checkradio__helper{
                border-color: #f5332b;
                background-color: #fff;
            }
            &:checked{
                & + .xu-label-checkradio__helper{
                    border-color: #f5332b;
                    background-color: #fff;
                    &:after {
                        background-color: #f5332b;
                    }     
                }
            } 
        }
    }
    &.xu-label-checkradio--focus{
        input[type="checkbox"]{
            & + .xu-label-checkradio__helper {
                border-color: #ff635d;
            } 

            &:checked {
                & + .xu-label-checkradio__helper {
                    border-color: #ff635d;
                    background-color: #f5332b;
                }
            }
        }
        input[type="radio"]{
            & + .xu-label-checkradio__helper{
                border-color: #f5332b;
                background-color: #fff;
            }
            &:checked{
                & + .xu-label-checkradio__helper{
                    border-color: #f5332b;
                    background-color: #fff;
                    &:after {
                        background-color: #f5332b;
                    }     
                }
            } 
        }
    } 

    // 체크박스/라디오 액티브
    &:active{
        input[type="checkbox"]{
            & + .xu-label-checkradio__helper {
                border-color: #ff635d;
                background-color: rgba(255, 99, 93, 0.1);
            }
            &:checked{
                & + .xu-label-checkradio__helper{
                    border-color: #ff635d;
                    background-color: #f5332b;
                    &:after {
                        content: '';
                        border-right-color: #fff;
                        border-bottom-color: #fff;
                    } 
                }
            } 
        }
        input[type="radio"]{
            & + .xu-label-checkradio__helper {
                border-color: #f5332b;
            }
            &:checked{
                & + .xu-label-checkradio__helper {
                    border-color: #f5332b;
                    background-color: #f5332b;
    
                    &:after {
                        content: '';
                        background-color: #fff;
                    }
                }
            } 
        }
    } 
    

    // 체크박스/라디오 disabled
    &.xu-label-checkradio--disabled{
        &:hover{
            input[type="checkbox"]{
                & + .xu-label-checkradio__helper {
                    border-color: #c1c7d0;
                    background-color: #f4f5f7;
                }
            }
        }
        &:hover{
            input[type="radio"]{
                & + .xu-label-checkradio__helper {
                    border-color: #c1c7d0;
                    background-color: #f4f5f7;
                }
            }
        }
    } 
    input[type="checkbox"]{
        &:disabled{
            & + .xu-label-checkradio__helper {
                border-color: #c1c7d0;
                background-color: #f4f5f7;
            }

            &:hover{
                & + .xu-label-checkradio__helper {
                    border-color: #c1c7d0;
                    background-color: #f4f5f7;
                }
            }
        }
        &:checked{
            &:disabled{
                & + .xu-label-checkradio__helper {
                    border-color: #c1c7d0;
                    background-color: #c1c7d0;
                }
            }
        }
    }
    input[type="radio"]{
        &:disabled{
            & + .xu-label-checkradio__helper {
                border-color: #c1c7d0;
                background-color: #f4f5f7;

                &:after {
                    content: '';
                    background-color: #c1c7d0;
                }
            }

            &:hover{
                & + .xu-label-checkradio__helper {
                    border-color: #c1c7d0;
                    background-color: #f4f5f7;
                }
            }
        }
        &:checked{
            &:disabled{
                & + .xu-label-checkradio__helper {
                    border-color: #c1c7d0;
                    background-color: #f4f5f7;

                    &:after {
                        content: '';
                        background-color: #c1c7d0;
                    }
                }
            }
            
        }

    }
} 

.blind {
    display: none;
}

.flex--row {
    display: flex;
    align-items: center;

}

.flex-item--row {
    display: flex;
    align-items: center;
}

.flex-item--column {
    display: flex;
    flex-direction: column;
    
}

.flex-item {
    // height: 100%;
    // width: 100%;
}

.border-navy {
    width: 100%;
    height: 1px;
    background-color: #8da4bc;
    

}

.m-t-b-19 {
    margin-top: 19px;
    margin-bottom: 19px;
}

.title-16-b {
    font-size: 16px;
    line-height: 1.38;
    letter-spacing: -0.67px;
    color: #42526e;
    font-weight: 600;
}



