<main id="container" class="theme-main">
    <div class="content-layout ">
        <div class="content-layout">
                
            <div class="layout-bg layout-01 dimmed">
                <div class="layout-content-text">
                    <span style="font-size: 25px; margin-bottom: 20px;">🙌</span>
                    <h3 class="layout-content-title intro" style="display: none;">안녕하세요</h3>
                    <button class="tell-more-btn" type="button">
                        <div class="container-custom">
                            <div class="chevron"></div>
                            <div class="chevron"></div>
                            <div class="chevron"></div>
                            </div>
                    </button>
                </div>
            </div>

            <div class="layout-bg layout-02" style="height:auto;">
                <div class="layout-content-text">
                    <h3 class="layout-content-title " style=" color: #141414;">SERVICES</h3>
                    
                    <div class="content-list-wrap">
                        <ul class="content-list">
                            <li class="content-list-item">
                                <div class="content-icon-box">
                                    <span class="content-icon responsive"></span>
                                </div>

                                <span class="content-explan-title">Responsive</span>
                                <p class="content-explan-item">
                                    웹과 모바일에 모두 맞춘 반응형 페이지를 제작하여 페이지에 접근하는 다양한 디바이스에 대응하며, 
                                    뿐만아니라 PC/Mobile 각 각에 맞춘 적응형 웹 또한 제작 가능합니다.</p>
                            </li>

                            <li class="content-list-item">
                                <div class="content-icon-box">
                                    <span class="content-icon git-skill"></span>
                                </div>

                                <span class="content-explan-title">GitLab</span>
                                <p class="content-explan-item">
                                    작업한 파일을 GitLab 에 pull, push 하여 작업물을 안전하게 백업하고, 팀원들과 공유하여 쉬운 작업이 가능합니다. 
                                </p>
                            </li>

                            <li class="content-list-item">
                                <div class="content-icon-box">
                                    <span class="content-icon Front-end"></span>
                                </div>

                                <span class="content-explan-title">Front-end</span>
                                <p class="content-explan-item">
                                    주로 HTML5, CSS3, SCSS 를 사용하여 퍼블리싱 작업을 진행하며, 필요에 따라 Javascript, jquery 도 사용하여 간단한 이벤트 동작이나 스크립트 구현이 가능합니다.
                                    또한 지도같은 경우 API 를 이용하여 구현 가능합니다.
                                </p>
                            </li>

                            <li class="content-list-item">
                                <div class="content-icon-box">
                                    <span class="content-icon Library"></span>
                                </div>

                                <span class="content-explan-title">Library</span>
                                <p class="content-explan-item">
                                    배너나 나열된 객체들의 슬라이드와 같은 이벤트 동작이 필요할 경우 적절한 플러그인 및 프레임 워크 등을 찾아
                                    코드에 대입하여 구현 가능합니다.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>



            <div class="layout-bg layout-03 dimmed">
                <div class="layout-content-text">
                    
                    <h3 class="layout-content-title" style=" color: #fff;">PORTFOLIO</h3>
                    
                    <div class="portfolio-list-wrap">
                        <div class="swiper portfolio-list-slide">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide portfolio-list-item ">
                                    <a href="#" class="portfolio-list-link">
                                        <div class="portfolio-item-img-box">
                                            <div class="item-img" style="background-image: url();"></div>
                                        </div>

                                        <div class="portfolio-item-subject">
                                            <h3 class="item-subject-title">구인구직 사이트 <br> (반응형) </h3>
                                            <span class="subject-sub-title">프로젝트 설명</span>
                                        </div>
                                    </a>
                                </div>

                                <div class="swiper-slide portfolio-list-item">
                                    <a href="#" class="portfolio-list-link">
                                        <div class="portfolio-item-img-box">
                                            <div class="item-img" style="background-image: url();"></div>
                                        </div>

                                        <div class="portfolio-item-subject">
                                            <h3 class="item-subject-title">자격증 사이트 <br> (반응형) </h3>
                                            <span class="subject-sub-title">프로젝트 설명</span>
                                        </div>
                                    </a>
                                </div>

                                <div class="swiper-slide portfolio-list-item">
                                    <a href="#" class="portfolio-list-link">
                                        <div class="portfolio-item-img-box">
                                            <div class="item-img" style="background-image: url();"></div>
                                        </div>

                                        <div class="portfolio-item-subject">
                                            <h3 class="item-subject-title">기업 홈페이지 <br> (반응형) </h3>
                                            <span class="subject-sub-title">프로젝트 설명</span>
                                        </div>
                                    </a>
                                </div>

                                <div class="swiper-slide portfolio-list-item">
                                    <a href="#" class="portfolio-list-link">
                                        <div class="portfolio-item-img-box">
                                            <div class="item-img" style="background-image: url();"></div>
                                        </div>

                                        <div class="portfolio-item-subject">
                                            <h3 class="item-subject-title">기업 홈페이지2 <br> (반응형) </h3>
                                            <span class="subject-sub-title">프로젝트 설명</span>
                                        </div>
                                    </a>
                                </div>

                                <div class="swiper-slide portfolio-list-item">
                                    <a href="#" class="portfolio-list-link">
                                        <div class="portfolio-item-img-box">
                                            <div class="item-img" style="background-image: url();"></div>
                                        </div>

                                        <div class="portfolio-item-subject">
                                            <h3 class="item-subject-title">마이크로 홈페이지 <br> (반응형) </h3>
                                            <span class="subject-sub-title">프로젝트 설명</span>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            
                                
                        </div>

                        <div class="slide-arrows">
                            <div class="swiper-button-next slide-arrows--next"></div>
                            <div class="swiper-button-prev slide-arrows--prev"></div>
                        </div>

                        <div class="slide-paging">
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>

                </div>
            </div>


                <!-- 타임라인 -->
            <div class="layout-bg layout-04 dimmed">
                <div class="layout-content-text">
                    <h3 class="layout-content-title" style=" color: #fff;">TIMELINE</h3>
                </div>

                <div class="tiem-line-wrap container">          
                    <div id="timeline">
                        <div class="timeline-block">
                            <div class="timeline-year right" data-anime="scroll"><strong> ~ 20.01 </strong></div> <!-- timeline-year -->
                            <div class="timeline-content" data-anime-left="scroll-left">
                                <div class="timeline-title">
                                    대학교 졸업 (영상콘텐츠과)
                                </div>
                                <div class="timeline-item">
                                    · 영상콘텐츠과를 졸업하였으며, Premiere Pro, After Effect, Illustrator, Photoshop 과정을 배웠고,
                                    카메라와 촬영 기법에 대해서도 배웠습니다. 
                                    

                                </div>
                                
                            </div>
                        </div> <!-- timeline-block -->

                        <div class="timeline-block">
                            <div class="timeline-year timeline-year-long left" data-anime="scroll"><strong>20.01 ~ 20.08</strong></div> <!-- timeline-year -->
                            <div class="timeline-content" data-anime-right="scroll-right">
                                <div class="timeline-title">
                                    웹 디자인&퍼블리셔 양성과정 수료
                                </div>
                                <div class="timeline-item">
                                    · 졸업 후, 학원을 통해 웹디자인 & 퍼블리셔 양성과정을 수료하였습니다. 
                                    이 과정에서 포토샵, 일러스트의 심화 과정을 배웠으며,
                                    HTML, CSS, SCSS, javascript, jquery, Git 등에 대해 공부하며 
                                    퍼블리셔가 되기 위한 자질을 배웠습니다.
                                </div>
                                
                            </div>
                        </div> <!-- timeline-block -->

                        <div class="timeline-block">
                            <div class="timeline-year right" data-anime="scroll"><strong>20.09 ~ </strong></div> <!-- timeline-year -->
                            <div class="timeline-content" data-anime-left="scroll-left">
                                <div class="timeline-title">

                                    XEHub 입사 <span style="color: #f5332b; font-size: 20px;">(재직중)</span>
                                </div>
                                <div class="timeline-item">
                                    · XEHub 에 입사하여 R&D 사업부 UI 팀에서 근무하고 있습니다.
                                    근무하는 동안 Responsive Web 에 대한 개념과 Gitlab, Github 에 작업물을 업로드하고, 
                                    이를 팀원들과 공유하며 작업하였으며, Codepen 과 Plugin 등을 통해 웹 페이지를 
                                    좀 더 생동감 있게 표현하는 방법을 알게 되었습니다. <br>
                                    또한, 회사 내 컨플루언스에 작업하는 데 필요한 정보지식과 기술들을 요약한 문서들을 업로드하여
                                    팀 내 능력 증진에 기여한 바 있습니다.

                                </div>
                                
                            </div>
                        </div> <!-- timeline-block -->


                        <!-- 마지막  timeline block-->
                        <div class="timeline-block">
                            <div class="timeline-year right final-circle ">
                                <span class="final-circle-text">
                                    With <br> me ! <br> 🖐️ 
                                </span>
                            </div>
                        </div> <!-- timeline-block -->
                </div>
            </div>
            </div>


            <!-- 컨텍트 -->
            <div class="layout-bg layout-05 dimmed">
                <div class="layout-content-text">
                    <h3 class="layout-content-title" style="color: #fff;">CONTACT ME</h3>
                    
                    <div class="contact-wrap">
                        <form action="https://script.google.com/macros/s/AKfycbwd7nDVIKEfZfJwaQ2JcwK6iL7tLtLVp2gyZEBWpj61Y_cQvfg/exec"  method="POST" data-email="gkrry20619@naver.com" target="iframe1">
                            <div class="contact-outline" >
                                <div class="contact-content" style="align-self: center;">
                                    <h3 class="contact-content-title" style="display: block;">
                                       <b> 함께하고 싶으시면 <br>
                                        메일을 <br>
                                        보내주세요!</b> 🙏
                                    </h3>
                                </div>    
                                <div class="contact-content">
                                    <div class="form-group">
                                        <label class="contact-label" for="name">성함</label>
                                        <input type="text" class="form-control col-md-6" name="name" id="name" placeholder="성함을 입력해주세요.">
                                    </div>

                                    <div class="form-group">
                                        <label class="contact-label" for="number">핸드폰 번호</label>
                                        <input type="text" class="form-control col-md-6" id="number" name="number" placeholder="핸드폰 번호를 입력해주세요.">
                                    </div>

                                    <div class="form-group">
                                        <label class="contact-label" for="content">내용</label>
                                        <textarea name="content" id="content" class="contact-mail-content" cols="" rows="" placeholder="내용을 입력해주세요."></textarea>
                                    </div>

 
                                    <button class="submit-btn">보내기</button>
                                    <!-- <a href="mailto:gkrry20619@naver.com" class="submit-btn">보내기</a> -->
                                    
                                    
                                </div>    
                            </div>
                        </form>
                        <iframe id="iframe1" name="iframe1" style="display: none;"></iframe>
                    </div>
                </div>
            </div>

            
            <!-- 깃소스 -->
            <div class="layout-bg layout-06">
                <div class="layout-content-text">
                    <h3 class="layout-content-title" style="color: #fff;">GIT SOURCES</h3>
                    <a href="https://github.com/moonyujenong?tab=repositories" class="go-gitsite" title="Git 바로가기">Git 바로가기</a>
                </div>
            </div>
        </div>
    </div>
</main>

<script type="text/javascript">
    $(function(){
        var swiper = new Swiper(".portfolio-list-slide", {
            slidesPerView: 1.2,
            spaceBetween: 30,
            autoplay : true,
            delay : 2000,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            breakpoints : {
                480 : {
                    slidesPerView: 2.2,
                },
                768 : {
                    slidesPerView: 2.7,
                },
                992 : {
                    slidesPerView: 3.3,
                },
            }
        });
    });
</script>


<script type="text/javascript">
//SCROLL ANIMATED

$('html,body').ready(function(){

//DEBOUNCE

debounce = function(func, wait, immediate) {
  var timeout;
  return function() {
      var context = this, args = arguments;
      var later = function() {
          timeout = null;
          if (!immediate) func.apply(context, args);
      };
      var callNow = immediate && !timeout;
      clearTimeout(timeout);
      timeout = setTimeout(later, wait); 
      if (callNow) func.apply(context, args);
      };
}; 
  
//SCROLL ANIMATED

$(function(){


  var $target = $('[data-anime="scroll"],[data-anime-top="scroll-top"],[data-anime-left="scroll-left"],[data-anime-right="scroll-right"],[data-anime-bottom="scroll-bottom"]'),
    animationClass = 'animate',
    offset = $(window).height() * 5/6;

  function animeScroll(){
    var documentTop = $(document).scrollTop();
    $target.each(function(){
      var itemTop = $(this).offset().top;
      
      if (documentTop > itemTop - offset){
        $(this).addClass(animationClass);
      } else {
        $(this).removeClass(animationClass);
      }
    });
  }

  animeScroll();

  $('html,body').scroll(debounce(function(){
    animeScroll();
  }, 90));
  

});

});
</script>


<script type="text/javascript">
    $(function(){
        $('.submit-btn').click(function(){
            
            
            var name = $("#name").val();
            var phone = $("#number").val();
            var content = $("#content").val();

            if ( name === "") {
                alert("성함을 입력해주세요");
                
                return false;
            }
            else if ( phone === "" ) {
                alert("핸드폰 번호를 입력해주세요");
                
                return false;
            }
            else if (content === "" ) {
                alert("내용을 입력해주세요");
                
                return false;
            }
            else {
                
                alert("메일이 정상적으로 발송되었습니다!");
                location.reload();
            }
               

            
        });
    });
</script>